html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

h1:first-child {
    text-align: center;
    margin: 0;
    font-weight: 100;
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.42);
    font-size: 50px;
}

@media print {
    h1:first-child {
        text-align: left;
        background-color: transparent;
        box-shadow: none;
        padding: 0px;
    }
}

@media screen {

    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    pre,
    table {
        margin-left: auto;
        margin-right: auto;
        width: 60vw;
    }
}

h2 {
    font-weight: 300;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 15px;
    font-weight: 200;
}

h4 {
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 12px;
    font-weight: 200;
}

h5 {
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 10px;
    font-weight: 200;
}

h6 {
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 200;
}

ul {
    margin-top: 0px;
}

@media screen {
    ul {
        width: 58vw;
    }
}

ul li a {
    color: black;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

pre {
    margin: 30px auto;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
}

pre code {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

@media screen {
    footer {
        text-align: center;
        padding: 10px;
        background-color: whitesmoke;
        margin-top: 10px;
    }
}
