.text-lighter-success {
    color: lightgreen;
}

.text-lighter-danger {
    color: lightcoral;
}

.diagram img,
img.diagram {
    max-width: 100%;
}

pre {
    background: lightgray;
    border-radius: 15px;
    padding: 10px 20px;
}

table.auto-column-width tr td,
table.auto-column-width tr th {
    white-space: nowrap;
    padding-right: 20px;
}
table.auto-column-width tr td:last-child,
table.auto-column-width tr th:last-child {
    width: 100%;
}
table.auto-column-width tr th.sortable {
    padding-right: 10px;
}

#service_dependencies {
    column-count: 2;
    column-gap: 20px;
}
