{% extends 'base.html' %}

{% block content %}
<h2 class="fw-light">Dokumentace</h2>
<ul>
    <li><a href="/docs/legal">Ustanovení</a> o sběru dat</li>
    <li><a href="/docs/birthday">Narozeniny</a></li>
    <li><a href="/docs/emotes">Správa a statistika emotů</a></li>
    <li><a href="/docs/search">Hledání</a></li>
    <li><a href="/docs/suggestions">Návrhy</a></li>
    <li><a href="/docs/tasks">Plánované úlohy</a></li>
</ul>

<h2 class="fw-light">Ostatní</h2>
<ul>
    <li><a href="/docs/di-graph">Graf závislostí</a> jednotlivých služeb v dependency injection.</li>
    <li><a href="/docs/database">Schéma databáze</a></li>
    <li><a href="/docs/dependency">Knihovny třetích stran (NuGet)</a></li>
    <li><a href="https://stats.uptimerobot.com/vQ40jHEJr3" target="_blank"><b>Aktuání stav bota</b></a></li>
</ul>

<h2 class="fw-light">Dodatečné odkazy</h2>
<ul>
    <li><a href="https://grillbot.cloud/swagger/index.html?urls.primaryName=v1" target="_blank">Specifikace rozhraní REST API</a> pro webové administrace</li>
    <li><a href="https://grillbot.cloud/swagger/index.html?urls.primaryName=v2" target="_blank">Specifikace rozhraní REST API</a> pro aplikace třetích stran</li>
    <li><a href="https://gitlab.com/grillbot" target="_blank">GitLab</a> repozitář se zdrojovými kódy</li>
    <li><a href="https://grillbot.cloud" target="_blank">Administrace</a> pro oprávněné osoby (primárně administrátory bota)</li>
    <li><a href="https://public.grillbot.cloud" target="_blank">Administrace</a> určená pro běžné uživatele</li>
    <li><a href="https://docs.grillbot.cloud" target="_blank">Tato</a> stránka s dokumentací</li>
</ul>
{% endblock %}
